public/examsSolutions/2019/fsML.dtd

<!ELEMENT racine ((dossiers+ , fichier+) | (fichier+,dossiers+))>
<!ELEMENT dossiers ((dossiers* , fichier*))>
<!ELEMENT fichier (#PCDATA)>
<!ATTLIST dossiers id ID #REQUIRED>
<!ATTLIST dossiers nom CDATA #REQUIRED>
<!ATTLIST dossiers creation CDATA #REQUIRED>
<!ATTLIST fichier id ID #REQUIRED>
<!ATTLIST fichier nom CDATA #REQUIRED>
<!ATTLIST fichier creation CDATA #REQUIRED>
<!ATTLIST fichier dateModification CDATA #REQUIRED>
<!ATTLIST fichier taille CDATA #REQUIRED>
