public/reproduction/2012/catalogue.dtd

<!ELEMENT catalogue (produit+)>
<!ELEMENT produit (nom,photo,prixHT,TVA)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT photo (#PCDATA)>
<!ELEMENT prixHT (#PCDATA)>
<!ELEMENT TVA (#PCDATA)>

<!ATTLIST catalogue année CDATA #REQUIRED>
<!ATTLIST produit codeP CDATA #REQUIRED>
<!ATTLIST produit catégorie CDATA #REQUIRED>
<!ATTLIST photo source CDATA #REQUIRED>
