public/examsSolutions/2012/catalogue.dtd

<!ELEMENT catalogue (produit+)>
<!ELEMENT produit (nom,photo,prixHT,TVA,desc?)>
<!ELEMENT nom (#PCDATA) >
<!ELEMENT photo EMPTY>
<!ELEMENT  prixHT (#PCDATA)>
<!ELEMENT TVA (#PCDATA)>
<!ELEMENT desc (#PCDATA)>
<!ATTLIST catalogue année CDATA #REQUIRED>
<!ATTLIST produit codeP ID #REQUIRED>
<!ATTLIST produit catégorie CDATA #REQUIRED>
<!ATTLIST photo source CDATA #REQUIRED>